<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Coimbra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/bibliocb.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Biblioteca Joanina</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    A Biblioteca Joanina é uma biblioteca do século XVIII situada
    no Palácio das Escolas da Universidade de Coimbra, no pátio da
    Faculdade de Direito da Universidade de Coimbra. Apresenta um
    estilo marcadamente barroco, sendo reconhecida com uma das mais 
    originais e espectaculares bibliotecas barrocas europeias. Além 
    de local de pesquisa de muitos estudiosos, o espaço é ainda 
    frequentemente utilizado para concertos, exposições e outras 
    manifestações culturais.
  </ion-card-content>
  <ion-button href="/portugal" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>