<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">San Martín</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/palaciosm.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Palácio San Martin</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    O Palácio San Martín é a sede cerimonial da Chancelaria da
    República Argentina, dependente do Ministério de Relações 
    Exteriores. Está situado a frente da Praça San Martín no 
    bairro Retiro, de Buenos Aires.
  </ion-card-content>
  <ion-button href="/argentina" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>