<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Fresno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/frbiblio.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Biblioteca Pública de Fresno</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    A Biblioteca Pública de Fresno County fornece livros, ebooks, música,
    filmes, revistas, jornais e serviços através de sua Biblioteca de 
    Recursos Central e seus 34 filiais em todo Condado de Fresno, Califórnia.
    O sistema de biblioteca está sediada em Fresno .
  </ion-card-content>
  <ion-button href="/usa" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>