<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Buenos Aires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img src="assets/imagem/temploba.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Templo Mórmon</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Este belo templo está localizado próximo à Rodovia Ricchieri, na
    direção do Aeroporto de Ezeiza. Pertence à cidade de Ciudad Evita,
    o Partido La Matanza, na província de Buenos Aires. Poderosamente,
    chame a atenção para a sua estátua de ouro no topo.
  </ion-card-content>
  <ion-button href="/argentina" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
