<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Rio de Janeiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Parque Lage</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Localizado no Bairro Jardim Botânico, esse patrimônio tombado pelo
    IPHAN é rico em história e beleza natural. Dentre seus atrativos
    encontramos um belíssimo casarão, trilhas, parques infantis, áreas
    para piquenique e cavernas artificiais. Dentro do casarão há um 
    café, onde aos finais de semana, servem café da manhã ao redor da
    piscina.
  </ion-card-content>
  <ion-button href="/brasil" color="dark" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
