<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">São Paulo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img src="assets/imagem/bmandrade.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Biblioteca Mário de Andrade</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    A Biblioteca Mário de Andrade foi fundada em 1925 e seu edifício
    em art déco, figura como umas das jóias do centro histórico de São Paulo. 
    Com amplos e elegantes salões, possui o segundo maior acervo
    documental bibliográfico do Brasil, formado por inúmeras raridades.
  </ion-card-content>
  <ion-button href="/brasil" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
