<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button icon = "arrow-round-back" slot="start"></ion-back-button>
    <ion-title style="text-align:center">Rio de Janeiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/imagem/capanema.png" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Palácio Capanema</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    O edifício (antigo MEC), projetado pelos ilustres Lucio Costa, Jorge
    Moreira, Affonso Eduardo Reydi, Carlos Leão, Ernani Vasconcelos e
    Oscar Niemeyer, compõe-se de um volume em prisma alto apoiado em 
    pilotis e um outro mais baixo e perpendicular ao primeiro.

  </ion-card-content>
  <ion-button href="/brasil" color="dark" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
