<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Porto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/bibliopt.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Biblioteca Pública Municipal</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Foi instituída no dia 9 de Julho de 1833, assinado nos paços
    reais de Porto por D. Pedro, duque de Bragança e referendado
    por Cândido José Xavier, ministro secretário de Estado por
    negócios do reino. A criação da biblioteca teve por objetivo
    expressamente declarado solenizar o aniversário da cidade.
    O nome dado foi Real Biblioteca Pública da cidade do Porto.
  </ion-card-content>
  <ion-button href="/portugal" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
