<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Buenos Aires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/colon.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Teatro Colón</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Principal casa de ópera em Buenos Aires, o Teatro Colón é
    considerado um dos teatros mais importantes do mundo.
    Sua arquitetura eclética mistura diversas influências e,
    para a construção do edifício, foram trazidos materiais 
    diretamente da Europa, como o mármore da escadaria principal.
  </ion-card-content>
  <ion-button href="/argentina" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
