<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">San Diego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Wat Lao Boubpharam</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Wat Lao Boubpharam oferece uma experiência maravilhosamente autêntica 
    do budismo do Laos e, no decorrer da minha própria vida, encontrei poucas
    pessoas neste mundo mais generosas e acolhedoras do que os budistas do Laos.
  </ion-card-content>
  <ion-button href="/usa" color="dark" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
