<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Fresno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/edison.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Edison High School</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Após o primeiro passo dentro do novo Edifício Acadêmico da Edison 
    High School seus olhos são atraídos para cima. As amplas janelas e
    o teto elevado estão realmente mexendo na abundante luz natural. 
    É a certeza de ser um local que irá animar e inspirar os alunos logo
    a andar pelos corredores desta unica e nova construção.
  </ion-card-content>
  <ion-button href="/usa" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
