<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Porto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/arqporto.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Palácio da Bolsa</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Visite o Palácio da Bolsa no Porto, um monumento muito importante na cidade,
     com arquitetura neoclássica e toscana cheio de salas para você visitar.
      O Palácio da Bolsa começou a ser construído em 1842, porque com o encerramento
       da Casa da Bolsa do Comércio, os comerciantes precisavam de um lugar para
        discutir os negócios, se convertendo assim no lugar ideal para essas reuniões.
         Atualmente o Palácio da Bolsa é a Sede da Associação Comercial do Porto, e serve
          para os mais variados eventos, sejam eles culturais, sociais ou políticos.
  </ion-card-content>
  <ion-button href="/portugal" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
