<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Porto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/diversospt.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Cais da Ribeira</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Um pouco caótico e divertido de explorar, a zona ribeirinha do 
    Porto é uma praça muito pitoresca onde os turistas e os habitantes 
    locais se misturam. Há bares e restaurantes em cada esquina, e 
    estes também se alinham na calçada ribeirinha. Você terá uma foto 
    perfeita da icônica Ponte Luís I daqui e, se passar pelas arcadas, 
    há um labirinto confuso de ruas íngremes e escadas entre casas 
    pintadas em tons pastel em diferentes estados de reparação.
  </ion-card-content>
  <ion-button href="/portugal" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>