<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">San Martín</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img src="assets/imagem/templosm.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Igreja San Andorinha</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    O templo monumental de Sechura, de recente estilo Barroco, ergueu
    em homenagem a San Martin de Tours, foi construído no primeiro
    terço do século de XVII. A construção deles/delas durou aproximadamente
    50 anos, porque a pessoa trabalhou nos primeiros meses do ano, entre
    janeiro e abril, quando as doces águas do rio descerem Piura.
  </ion-card-content>
  <ion-button href="/argentina" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
