<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">San Diego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Fiesta de Reyes</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    O Fiesta de Reyes (2754 Calhoun St) é complexo de lojas de artigos
    típicos Mexicanos e um restaurante bem gostoso com um pátio ao ar livre.
    O ambiente, com direito a festa e música ao vivo aos finais de semana,
    é hiper divertido e a comida é bem gostosa.
  </ion-card-content>
  <ion-button href="/usa" color="dark" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
