<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">San Martín</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/smbiblio.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>General San Martin</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    A Public Library "General San Martin" nasceu graças ao impulso
    cultural que o nosso país viveu em 1820. Entre os homens que
    participaram deste gestação a figura do general José de San Martin
    em destaque, junto com outros militares da Independência e alguns
    cidadãos inscritos nas fileiras do rivadavismo (Presidência da B.
    Rivadavia 1826-1827). 
  </ion-card-content>
  <ion-button href="/argentina" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
