<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">San Martín</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img src="assets/imagem/huechu.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Lago Huechulafquen</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Para os mapuches nativos dos Andes da Argentina, o nome Huechulafquen
    significa "lago longo". É um título apropriado para este espetáculo
    azul que se estende por 29 quilômetros e é oficialmente o maior
    dos 24 lagos do Parque Nacional Lanin.
  </ion-card-content>
  <ion-button href="/argentina" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
