<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Buenos Aires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/babiblio.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Biblioteca Nacional Mariano Moreno</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    A Biblioteca Nacional Mariano Moreno é um mundo a parte.
     Muito mais do que uma simples biblioteca, presta uma grande
      variedade de serviços e reúne um acervo de cerca de dois
       milhões de peças, principalmente nos setores biblioteca
        e hemeroteca. É hoje uma das mais importantes da América Latina.
  </ion-card-content>
  <ion-button href="/argentina" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>