<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Coimbra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/arqcoimbra.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Torre da universidade de Coimbra</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    O Paço das Escolas é dominado por uma dos mais simbólicas estruturas de Coimbra,
     a torre setecentista que alberga o relógio e os sinos que regulam a vida académica.
      A sua origem remonta a 1537 quando, prestes a alojar-se no Paço de D. João III, a 
      Universidade insiste que “nã podia aver boa ordem sem relógio”. A proverbial cabra
       passou assim a ser responsável por marcar o começo das horas de estudo em todas as
        vésperas de dia de aulas. Segundo a antiga praxe, o estudante que frequenta pela
         primeira vez a universidade não pode andar na rua após o badalar do sino.
  </ion-card-content>
  <ion-button href="/portugal" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
