<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Coimbra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/diversoscb.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Catedral Velha de Coimbra</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Quando Coimbra era uma fronteira entre o cristianismo eo islamismo, 
    o rei Afonso Henriques estabeleceu esta catedral românica.
    Foi construído pouco depois da vitória sobre os mouros na batalha 
    de Ourique em 1139 e, ao contrário de outras igrejas de hoje, 
    manteve muito seu caráter românico.
  </ion-card-content>
  <ion-button href="/portugal" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
