<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">San Diego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img src="assets/imagem/redwood.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Casa Redwood</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    A Casa Redwood é uma combinação de residência e estúdio de arquitetura,
    o o quais estão implantados lado a lado em meio ao cânion que 
    atravessa a cidade de San Diego, na California. A paisagem natural
    cria um ambiente propício para integrar a área da casa ao espaço 
    de trabalho.
  </ion-card-content>
  <ion-button href="/usa" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
