<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">San Diego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Biblioteca Central</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    A inauguração da Biblioteca Central de San Diego foi ansiosamente
    aguardada pelos moradores da cidade da Califórnia. O projeto teve
    início após várias reuniões onde as necessidades e expectativas
    para a nova biblioteca foram expostas aos arquitetos.
    A estrutura final é fruto de mais de 10 anos de design e reflete
    uma paixão pela arte, consciência ambiental e participação dos cidadãos.
  </ion-card-content>
  <ion-button href="/usa" color="dark" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
