<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Buenos Aires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/bombonera.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>La Bombonera</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    O adorado estádio do Boca Juniors é um dos pontos que os fãs
    de futebol mais gostam de conhecer. Visitas ao museu e ao 
    estádio possibilitam conhecer mais de perto a história do clube,
    suas conquistas e ter até a oportunidade de ver de pertinho
    o campo e visitar os vestiários.
  </ion-card-content>
  <ion-button href="/argentina" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
