<ion-header>
  <ion-toolbar>
    <ion-title>São Paulo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/madison.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Casa Ubiracica</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    A Casa Ubiracica nasceu em um terreno do bairro de City Boaçava, 
    Alto dos Pinheiros, zona oeste da cidade de São Paulo.
    Com claras referências da escola paulista de arquitetura, que 
    formou os arquitetos Francisco de Paiva Fanucci e Marcelo Carvalho 
    Ferraz.
  </ion-card-content>
  <ion-button href="/brasil" color="dark" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
