<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Coimbra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/templocb.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Mosteiro de Celas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    O Mosteiro de Celas era feminino e pertencia à Ordem de Cister.
     Foi fundado cerca de 1221 pela infanta D. Sancha, filha de
      D. Sancho I, numa propriedade denominada "Vimaranes" (Guimarães),
       nos arredores de Coimbra. Daí também ser conhecido como Mosteiro
        das Celas de Guimarães.
  </ion-card-content>
  <ion-button href="/portugal" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
