<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Rio de Janeiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img src="assets/imagem/trj.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Templo Rio de Janeiro</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    O Templo do Rio de Janeiro será um templo religioso de propriedade
    de A Igreja de Jesus Cristo dos Santos dos Últimos Dias. Sua 
    construção foi anunciada em 6 de abril de 2013. A cerimônia de
    abertura da terra será no dia 4 de março de 2017, quaze 4 anos
    depois o templo foi anunciado. 
  </ion-card-content>
  <ion-button href="/brasil" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>