<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Porto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/templopt.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Igreja São Francisco</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    O principal templo gótico do Porto é conhecido pelo interior exuberante.
     A talha dourada – joanina rocaille, para quem gosta de saber todos os
      detalhes arquitectónicos – cobre por completo a estrutura, o altar, os
       pilares, incluindo uma das mais belas árvores de Jessé que restam no
        país e até o tecto. Há quem fale de 600 kg de ouro, mas a Venerável
         Ordem Terceira de S. Francisco remete-se ao silêncio sobre o assunto.

  </ion-card-content>
  <ion-button href="/portugal" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
