.tm{
    --size:170px;
    text-align-last: center;
}
.img{
    --size:80px;

}
.center{
    text-align: center;
}

ion-content{
    --background: #fff url('../../assets/imagem/tour9.jpg') no-repeat center center / cover;
}
