<ion-header>
  <ion-toolbar color = "primary">
    <ion-title color = "light" class = "center">
      APP TOUR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br><br><br><br><br>

  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item color ="tertiary" href= "/brasil">
            <ion-thumbnail slot="start">
              <ion-img  src="assets/imagem/brasil.jpg"></ion-img>
            </ion-thumbnail>
            <ion-label>BRASIL</ion-label>
          </ion-item>
      </ion-col>
      <ion-col>
          <ion-item color ="tertiary" href= "/usa">
            <ion-thumbnail slot="start">
              <ion-img  src="assets/imagem/usa.jpg"></ion-img>
            </ion-thumbnail>
            <ion-label>USA</ion-label>
          </ion-item>
    </ion-col>
    <ion-col>
        <ion-item color ="tertiary" href= "/argentina">
          <ion-thumbnail slot="start">
            <ion-img  src="assets/imagem/argentina.jpg"></ion-img>
          </ion-thumbnail>
          <ion-label>ARGENTINA</ion-label>
        </ion-item>
  </ion-col>
  <ion-col>
      <ion-item color ="tertiary" href= "/portugual">
        <ion-thumbnail slot="start">
          <ion-img  src="assets/imagem/portugual.jpg"></ion-img>
        </ion-thumbnail>
        <ion-label>PORTUGAL</ion-label>
      </ion-item>
</ion-col>
</ion-row>
    </ion-grid>
</ion-content>

