<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button icon = "arrow-round-back" slot="start"></ion-back-button>
    <ion-title style="text-align:center">Rio de Janeiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/imagem/bpmanguinhos.jpg" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Biblioteca Parque de Manguinhos</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    A Biblioteca Parque de Manguinhos, inaugurada em 2011, segue os 
    preceitos das Bibliotecas Parque da Colômbia, onde a visão de espaço
    e serviços constituiu elemento de resgate social e cidadania. 
    Colorida, ampla e cheia de novidades é uma biblioteca bela, 
    coerente e necessária.

  </ion-card-content>
  <ion-button href="/brasil" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
