<ion-header>
  <ion-toolbar color = "primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align:center">Fresno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="assets/imagem/" />
  <ion-card-header>
    <ion-card-subtitle>Destino</ion-card-subtitle>
    <ion-card-title>Templo de Fresno</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    O Templo de Fresno (em inglês: Fresno California Temple) é um dos
    templos de A Igreja de Jesus Cristo dos Santos dos Últimos Dias.
    Foi o 78º templo construído pela igreja Mórmon e está localizado
    na cidade de Fresno, no sul da Califórnia, nos Estados Unidos.
    A história dos Santos dos Últimos Dias na Califórnia se inicia
    com a migração de muitos deles para o oeste americano, liderados
    por Brigham Young, em 1847, três anos após a morte de Joseph Smith Jr.
  </ion-card-content>
  <ion-button href="/usa" color="primary" expand="block">VOLTAR</ion-button>
</ion-card>
</ion-content>
